.container {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  gap: 40px;
  max-width: 335px;
  width: 100%;
  .buttonVacancy {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 13px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter";
    cursor: pointer;
  }
}
