.header {
  display: flex;
  width: 100%;
}
.containerExp {
  display: flex;
  width: 100%;
  justify-content: space-between;
  // height: 51px;
  font-family: "Inter";
  .exp {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 180px;
    width: 100%;
    background: white;
    border-radius: 15px;
    font-size: 14px;
    padding: 10px 0px;
    font-weight: 500;
    align-items: center;
    line-height: 19.36px;
  }
  .true {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: none;
    outline: none;
    width: 48px;
    cursor: pointer;
  }
  .false {
    @extend .true;
  }
}
.rating {
  margin: 0;
  text-align: left;
  width: 100%;
  color: white;
}
.agreement {
  color: white;
  font-size: 12px;
}
.pointContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  // gap: 10px;
  //   height: 51px;
  font-family: "Inter";

  .point {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 31px;
    background: white;
    border-radius: 15px 15px 0px 0px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    line-height: 19.36px;
    border-bottom: 1px solid;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 0px 0px 15px 15px;
  }
  .button {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    max-width: 150px;
  }
}
