.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
  margin: 0;
  color: rgba(12, 56, 122, 1);
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  line-height: 48px;
  max-width: 336px;
  width: 100%;
  margin-bottom: 17px;
}
